rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /artifacts/{projectId}/public/images/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}

